:root {
    --cor-de-fundo: rgb(235, 166, 177);

}

body {
    background-color: var(--cor-de-fundo);
}

img {
    width: 10%;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 80% 20%;
    text-align: center;

}


.banho {
    width: 15%;
}

.introducao {
    display: flex;
}
.produto {
    display: flex;
    justify-content: space-around;
}


.Equipe{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;

}
