:root {
    --cor-de-fundo: rgb(250, 163, 235);

}

body {
    background-color: var(--cor-de-fundo);
}

img {
    width: 10%;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 80% 20%;
    text-align: center;

}


.banho {
    width: 15%;
}

.introducao {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 50px;
}
.produto {
    display: flex;
    justify-content: space-around;
}


.produtos{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.Equipe{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;

}

.foto-da-equipe{
    width: 50%;
}
.produtos-imagem{
    width: 50%;}
