@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

:root {
    --cor-de-fundo: rgb(250, 196, 241);

}

body {
    background-color: var(--cor-de-fundo);
}

img {
    width: 10%;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 80% 20%;
    text-align: center;
    font-size: 26px;

}


.banho {
    width: 15%;
}

.introducao {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 50px;
}

.produto {
    display: flex;
    justify-content: space-around;
}


.produtos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.Equipe {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;

}

.foto-da-equipe {
    width: 50%;
}

.produtos-imagem {
    width: 70%;
}

.titulo {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 76px;
}